---
import { getCollection } from 'astro:content';
import { Icon } from '@iconify/react';
import PreviewLink from '@components/sections/PreviewLink.astro';

interface Props {
  preview?: boolean;
}

const { preview = false } = Astro.props as Props;

const posts = (await getCollection('posts')).sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<section class="flex flex-col gap-7 opacity-0 md:gap-10" data-animate-inview>
  <h1 class="text-4xl font-bold leading-none text-white md:text-[70px]">
    DIGITAL
    <br />
    <span class="text-dark-mode-gray-semiDark">THOUGHTS</span>
  </h1>
  <ul class="flex max-w-xl flex-col">
    {
      (preview ? posts.slice(0, 3) : posts).map(({ data, id }) => (
        <li class="group/link cursor-pointer rounded-lg p-5 hover:bg-dark-mode-gray-semiDark">
          <a href={`/posts/${id}/`} class="flex max-w-full flex-col gap-4">
            <h3 class="text-xl font-bold text-white md:text-2xl">{data.title}</h3>
            <p class="text-dark-mode-gray-light">{data.summary}</p>
            <div class="flex items-center gap-3 text-sm text-dark-mode-gray-light">
              <p>
                {data.date.toLocaleDateString('en-US', {
                  month: 'long',
                  day: 'numeric',
                  year: 'numeric'
                })}
              </p>
              <p class="ml-auto">{data.readingTime} min read</p>
            </div>
            <span class="ml-auto inline-flex items-center gap-1 text-xs text-white opacity-0 transition-opacity duration-200 group-hover/link:opacity-100">
              View more
              <Icon
                client:load
                icon="material-symbols-light:arrow-right-alt-rounded"
                width={24}
                height={24}
              />
            </span>
          </a>
        </li>
      ))
    }
  </ul>
  {preview && posts.length > 3 && <PreviewLink link="/posts/" />}
</section>
