---
import Layout from '@layouts/Layout.astro';
import Experiences from '@components/sections/Experiences.astro';
import Projects from '@components/sections/Projects.astro';
import Posts from '@components/sections/Posts.astro';
---

<Layout>
  <section class="opacity-0" data-animate-inview>
    <h1 class="mb-5 text-4xl font-bold leading-none text-white md:text-[70px]">
      FULLSTACK
      <br />
      <span class="text-dark-mode-gray-semiDark">WEB DEVELOPER</span>
    </h1>
    <h2 class="text-dark-mode-gray-light text-lg">
      I love the entire process of development: from the concept, brainstorming sessions, all the
      way to solving real-life problems with code.
    </h2>
  </section>
  <Experiences preview />
  <Projects preview />
  <Posts preview />
</Layout>
