---
const lastUpdated = new Date('2024-12-17')
  .toLocaleString('en-US', {
    month: 'long',
    year: 'numeric'
  })
  .toString();
---

<footer
  class="mt-14 flex w-full items-center justify-around gap-4 text-dark-mode-gray-light max-sm:flex-col">
  <span class="text-md"
    >Built by <a
      href="https://github.com/giovacalle/astro-react-portfolio"
      class="text-dark-mode-violet underline"
      rel="noopener noreferrer"
      target="_blank">me</a
    >
    with Astro + React
  </span>
  <span class="text-md">Last updated on: {lastUpdated}</span>
</footer>
